In [1]:
import pandas as pd

In [2]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]} 
  
# Create DataFrame 
df = pd.DataFrame(data)

In [3]:
df

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

### Writing CSV

In [4]:
df.to_csv("s3://s3-jupyter-docker-aws-20200102-1238/file.csv",index=False)

### Reading CSV

In [5]:
pd.read_csv("s3://s3-jupyter-docker-aws-20200102-1238/file.csv")

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

### Writing parquet

In [6]:
df.to_parquet("s3://s3-jupyter-docker-aws-20200102-1238/file.parquet.gzip",
              engine ='fastparquet',compression='gzip')

### Reading parquet

In [7]:
pd.read_parquet("s3://s3-jupyter-docker-aws-20200102-1238/file.parquet.gzip",engine='fastparquet')

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18